// Fix placement of icon for external preview button in preview dropdown
.components-dropdown-menu__menu .editor-preview-dropdown__button-external {
	padding-right: 6px;
}

// Hide the "Preferences" menu item in the more menu.
// We don't have any preferences to set in the email editor.
.more-menu-dropdown__content {
	.components-menu-group:last-child {
		display: none;
	}
}

.woocommerce-email-editor__view-mode-toggle {
	/* stylelint-disable -- Disable reason: View Transitions not supported properly by stylelint. */
	view-transition-name: toggle;
	/* stylelint-enable */
	top: 0;
	left: 0;
	z-index: 100;

	.components-button {
		color: #fff;
		height: 100%;
		width: 100%;
		border-radius: 0;
		overflow: hidden;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover,
		&:active {
			color: #fff;
		}

		&:focus {
			box-shadow: none;
		}
	}

	.woocommerce-email-editor__view-mode-toggle-icon {
		svg,
		img {
			background: $gray-900;
			display: block;
		}
	}
}

.woocommerce-email-editor-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	background-color: hsla(0, 0%, 100%, 0.6);
	-webkit-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);

	svg {
		fill: currentColor;
	}
}

.woocommerce-email-editor-icon__icon {
	fill: currentColor;
	width: 100%;
	height: 100%;
	padding: 12px;
}

.woocommerce-email-editor__view-mode-toggle button:focus {
	position: relative;

	&::before {
		content: "";
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

// Hide core's Styles sidebar controls
.components-button[aria-controls="edit-site:global-styles"] {
	display: none !important;
}
