@import "./components/block-editor/style.scss";
@import "./components/header/style.scss";
@import "./components/notices/style.scss";
@import "./components/preview/style.scss";
@import "./components/sidebar/style.scss";
@import "./components/styles-sidebar/style.scss";
@import "./components/template-select/style.scss";
@import "./components/personalization-tags/style.scss";
